figcaption {
    text-align: center;
}
.titulo-conteudo {
    position: absolute;
    width: 100%;
}
.titulo-conteudo .container {
    background-color: transparent;
}
.bloco-1-1 {
    background-image: url('01/background.png');
    padding-top: 80px;
    padding-bottom: 80px;
}
h3 {
    font-size: 26px;
    color: #e79623;
}
.bloco-1-1 .container {
    background-color: transparent;
    color: white;
}
.caixa-tv {
    border-radius: 30px;
    background-color: #498189;
    text-align: center;
    padding: 20px 30px;
    margin: 40px auto;
}

.caixa-tv p {
    font-weight: 600;
}

.bloco-1-2 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.bloco-1-2 h3 {
    color: #2d5054;
}
.caixa-seliga {
    background-color: #498189;
    color: white;
    padding: 20px 30px;
    border-radius: 25px;
    margin: 40px auto;
    font-weight: 600;
    padding-left: 120px;
}